.row.mb3 {
  text-align: left;
}

.title {
  text-align: left;
  cursor: pointer;
}

.channel-title {
  text-align: left;
}

.description {
  text-align: left;
}

.img-interface {
  cursor: pointer;
}

.results-text {
  text-align: left;
}
